@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: "header header header header header" "main main main main main" "footer footer footer footer footer";
  height: 100vh;
}

.grilla header {
  background-image: url(./../assets/img/textura-header.jpg);
  grid-area: header;
}

.grilla main {
  background-color: dimgrey;
  grid-area: main;
}

.grilla footer {
  background-color: rgb(15, 15, 15);
  grid-area: footer;
}

/*psedoclases*/
a {
  font-family: "Playfair Display";
}

a:hover {
  background-color: rgb(214, 211, 21);
  border-radius: 3px;
  box-shadow: 3px 3px 3px 3px white;
  font-weight: bold;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
}
.encabezado .logo {
  display: flex;
  align-items: center;
}
.encabezado .logo img {
  width: 15vh;
}
.encabezado .logo h1 {
  font-weight: 10;
  font-family: "Playfair Display";
}
.encabezado nav {
  background-image: url(./../assets/img/textura-header.jpg);
}
.encabezado nav .container-fluid .menu-button {
  border: none;
}
.encabezado nav .container-fluid .menu-button .menu-icon {
  background-image: url(./../assets/img/menu-alt-svgrepo-com.svg);
}
.encabezado nav .container-fluid .navbar-collapse ul {
  display: flex;
  column-gap: 5vh;
  list-style: none;
  margin-bottom: 0;
}
.encabezado nav .container-fluid .navbar-collapse ul li a {
  text-decoration: none;
  color: black;
}

.main-formacion .asistencia .seccion-c .texto-c, .main-formacion .enseñanza .seccion-b .texto-b, .main-formacion .formacion .seccion-a .texto-a, .main-nosotros .parrafo p, .main-index .presentacion p {
  font-family: "Playfair Display";
  font-size: larger;
  font-weight: bold;
  color: azure;
}

.main-formacion .asistencia .seccion-c .titulo-3, .main-formacion .enseñanza .seccion-b .titulo-2, .main-formacion .formacion .seccion-a .titulo-1, .main-nosotros .parrafo h2 {
  font-family: serif;
  color: rgb(214, 211, 21);
  text-decoration: underline;
}

.main-formacion .asistencia .photo-c, .main-formacion .enseñanza .photo-b, .main-formacion .formacion .photo-a {
  border-radius: 1em;
  box-shadow: 5px 5px 5px 5px;
  width: 30em;
}

.main-index .eslogan {
  background-color: darkgrey;
  text-align: center;
  font-family: "Playfair Display";
  padding-top: 1em;
  height: 5em;
}
.main-index .presentacion {
  display: flex;
  justify-content: space-between;
  padding: 5em;
}
.main-index .presentacion img {
  width: 25em;
  border-radius: 1em;
  box-shadow: 10px 10px 10px 10px black;
}

.main-nosotros {
  display: flex;
}
.main-nosotros .parrafo {
  padding: 1vh;
}
.main-nosotros .imagenes {
  display: flex;
  flex-direction: column;
}
.main-nosotros .imagenes .linea-1 {
  display: flex;
  column-gap: 2vh;
  padding: 1vh;
  padding-top: 7vh;
}
.main-nosotros .imagenes .linea-1 img {
  width: 17em;
  border-radius: 1vh;
  box-shadow: 2px 2px 2px 2px black;
}
.main-nosotros .imagenes .linea-2 {
  display: flex;
  column-gap: 1vh;
  padding: 1vh;
}
.main-nosotros .imagenes .linea-2 img {
  width: 17em;
  border-radius: 1vh;
  box-shadow: 2px 2px 2px 2px black;
}

.primero-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.primero-card .body-card {
  background-color: rgb(214, 211, 21);
}
.segundo-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.segundo-card .body-card {
  background-color: rgb(214, 211, 21);
}
/*body contacto*/
.contacto {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contacto .formulario form .informacion .form-label {
  color: azure;
  font-family: "Playfair Display";
}
.contacto .formulario form .informacion-2 .form-label {
  color: azure;
  font-family: "Playfair Display";
}
.contacto .formulario form .informacion-3 .label-3 {
  color: azure;
  font-family: "Playfair Display";
}
.contacto .formulario form .boton-contacto .btn-primary {
  background-color: rgb(214, 211, 21);
  border: rgb(214, 211, 21);
  font-family: "Playfair Display";
}
.contacto .img-contacto {
  display: flex;
  column-gap: 2vh;
}
.contacto .img-contacto .photo .photo-a {
  border-radius: 1em;
  box-shadow: 10px 10px 10px 10px black;
}
.contacto .img-contacto .photo-2 .photo-b {
  border-radius: 1em;
  box-shadow: 10px 10px 10px 10px black;
}

.main-formacion {
  padding: 1em;
}
.main-formacion .formacion {
  display: flex;
  padding: 1em;
}
.main-formacion .enseñanza {
  display: flex;
  column-gap: 1em;
}
.main-formacion .asistencia {
  display: flex;
  column-gap: 1em;
}
.pie div h2 {
  color: rgb(214, 211, 21);
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-family: "Playfair Display";
}
.pie div ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 0;
}
.pie div ul li img {
  width: 9vh;
  padding: 2vh;
}

/*medias de tablet*/
@media (min-width: 769px) and (max-width: 1024px) {
  .encabezado .logo img {
    width: 14vh;
  }
  /*body index*/
  .main-index .presentacion p {
    font-size: medium;
  }
  .main-index .presentacion img {
    width: 20em;
  }
  /*main sobre nosotros*/
  .main-nosotros {
    flex-direction: column;
  }
  .main-nosotros .imagenes .linea-1 {
    justify-content: center;
  }
  .main-nosotros .imagenes .linea-2 {
    justify-content: center;
  }
  /*main contacto*/
  .contacto .img-contacto .photo .photo-a {
    width: 20em;
  }
  .contacto .img-contacto .photo-2 .photo-b {
    width: 19em;
  }
  /*main-formacion*/
  .main-formacion .formacion .seccion-a .titulo-1 {
    font-size: medium;
  }
  .main-formacion .formacion .seccion-a .texto-a {
    font-size: medium;
  }
  .main-formacion .formacion .photo-a {
    width: 25em;
  }
  .main-formacion .enseñanza .photo-b {
    width: 25em;
  }
  .main-formacion .enseñanza .seccion-b .titulo-2 {
    font-size: medium;
  }
  .main-formacion .enseñanza .seccion-b .texto-b {
    font-size: medium;
  }
  .main-formacion .asistencia .seccion-c .titulo-3 {
    font-size: medium;
  }
  .main-formacion .asistencia .seccion-c .texto-c {
    font-size: medium;
  }
  .main-formacion .asistencia .photo-c {
    width: 25em;
  }
}
/*media query mobile*/
@media (min-width: 390px) and (max-width: 768px) {
  /*body index*/
  .main-index .presentacion {
    flex-direction: column;
    align-items: center;
  }
  .main-index .presentacion p {
    font-size: small;
  }
  .main-index .presentacion img {
    width: 15em;
  }
  /*main galeria*/
  .primero-card {
    flex-direction: column-reverse;
    padding: 1em;
  }
  .segundo-card {
    flex-direction: column-reverse;
    padding: 1em;
  }
  /*main sobre nosotros*/
  .main-nosotros {
    flex-direction: column;
  }
  .main-nosotros .parrafo h2 {
    text-align: center;
  }
  .main-nosotros .parrafo p {
    font-size: small;
  }
  .main-nosotros .imagenes .linea-1 {
    justify-content: center;
  }
  .main-nosotros .imagenes .linea-1 img {
    width: 10em;
  }
  .main-nosotros .imagenes .linea-2 {
    justify-content: center;
  }
  .main-nosotros .imagenes .linea-2 img {
    width: 10em;
  }
  /*main contacto*/
  .contacto .img-contacto {
    flex-direction: column;
    padding: 3vh;
  }
  .contacto .img-contacto .photo {
    padding: 2vh;
  }
  .contacto .img-contacto .photo .photo-a {
    width: 20em;
  }
  .contacto .img-contacto .photo-2 {
    padding: 2vh;
  }
  .contacto .img-contacto .photo-2 .photo-b {
    width: 20em;
  }
  /*main-formacion*/
  .main-formacion .formacion {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .main-formacion .formacion .seccion-a {
    padding: 1em;
  }
  .main-formacion .formacion .seccion-a .titulo-1 {
    font-size: medium;
  }
  .main-formacion .formacion .seccion-a .texto-a {
    font-size: small;
  }
  .main-formacion .formacion .photo-a {
    width: 15em;
  }
  .main-formacion .enseñanza {
    flex-direction: column-reverse;
    text-align: center;
    padding: 1em;
  }
  .main-formacion .enseñanza .photo-b {
    width: 14em;
  }
  .main-formacion .enseñanza .seccion-b {
    padding: 1em;
  }
  .main-formacion .enseñanza .seccion-b .titulo-2 {
    font-size: medium;
  }
  .main-formacion .enseñanza .seccion-b .texto-b {
    font-size: small;
  }
  .main-formacion .asistencia {
    flex-direction: column;
    text-align: center;
  }
  .main-formacion .asistencia .seccion-c .titulo-3 {
    font-size: medium;
  }
  .main-formacion .asistencia .seccion-c .texto-c {
    font-size: small;
  }
  .main-formacion .asistencia .photo-c {
    width: 14em;
  }
}

/*# sourceMappingURL=main.css.map */
