*
{
    padding: 0;
    margin: 0;
    
}

.grilla{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "header header header header header"
    "main main main main main"
    "footer footer footer footer footer"
    ;
    height: 100vh
    
    
}
.grilla header{
    background-image: url(./../assets/img/textura\ header.jpg);
    grid-area: header;

}

.grilla main{
    background-color: dimgrey;
    grid-area: main;
}
.grilla footer{
    background-color: rgb(15, 15, 15);
    grid-area: footer;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh
}
.encabezado nav{
    background-image: url(./../assets/img/textura\ header.jpg);

}
.encabezado nav ul{
    display: flex;
    column-gap: 5vh;
    list-style: none;
    margin-bottom: 0;
}
.encabezado nav ul li a{
    text-decoration: none;
    color: black;
    
}


.menu-icon{
    background-image: url(./../assets/img/menu-alt-svgrepo-com.svg);
    
}
.menu-button{
    border: none;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 15vh;
}
.logo h1{
    font-weight: 10;
    font-family: "Playfair Display", serif;
}
/*css body index*/

.eslogan{
    background-color: darkgrey;
    text-align: center;
    font-family: "Playfair Display", serif;
    padding-top: 1em;
    height: 5em;
}
.presentacion{
    display: flex;
    justify-content: space-between;
    padding: 5em;
}
.presentacion p{
    font-family: "Playfair Display", serif;
    font-size: larger;
    font-weight: bold;
}
.presentacion img{
    width: 25em;
    border-radius: 1em;
    box-shadow: 10px 10px 10px 10px black;
}
/*css body galeria*/

.primero-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.segundo-card{
    display: flex;
    align-items: center;
    justify-content: space-around
    
}
.body-card{
    background-color: rgb(214, 211, 21);
}

/*css body contacto*/
.boton-contacto{
    color:rgb(228, 228, 19);
}

.pie div h2{
    color:rgb(228, 228, 19);
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: "Playfair Display", serif;
}


.pie div ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0;  
padding-left: 0;
}
.pie div ul li img{
    width: 9vh;
    padding: 2vh;

}
/*pseudoclases*/
a{
    font-family: "Playfair Display", serif;
}
a:hover{
    background-color: rgb(221, 221, 21);
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px white;
    font-weight: bold;
    

}
/*Media query de tablet*/
@media (max-width: 1024px){
    .logo img{
        width: 14vh;
}

    .presentacion img{
        width: 20em;
}
.presentacion p{
    font-size: medium;
}
}

/*media query mobile*/

@media(max-width: 768px){
.presentacion{
    flex-direction: column;
    align-items: center;
}
.presentacion img{
    width: 25em;
}
.primero-card{
    flex-direction: column-reverse;
    padding: 1em;
}
.segundo-card{
    flex-direction: column-reverse;
    padding: 1em;
}
}
